// IRMA pairing form
//
// A form to enter the pairing code in order to pair your IRMA app with the session.
//
// Markup:
// <form class="irma-web-pairing-form">
//   <p>Vul de koppelcode in die in jouw IRMA-app verschijnt.</>
//   <div class="irma-web-pairing-code">
//     <input inputmode="numeric" pattern="\d" maxlength="1" required />
//     <input inputmode="numeric" pattern="\d" maxlength="1" required />
//     <input inputmode="numeric" pattern="\d" maxlength="1" required />
//     <input inputmode="numeric" pattern="\d" maxlength="1" required />
//   </div>
//   <div class="irma-web-loading-animation" style="display: none">
//     <i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i>
//   </div>
//   <input type="submit" style="display: none" />
//   <script type="application/javascript">
//     let inputFields = document.querySelectorAll('.irma-web-pairing-form input');
//     inputFields.forEach(field => {
//       field.onkeydown = (e) => {
//         e.target.prevValue = e.target.value;
//         if (e.key != 'Enter') e.target.value = '';
//       };
//       field.onkeyup = (e) => {
//         let prevElement = e.target.previousElementSibling;
//         if (prevElement && e.key == 'Backspace' && e.target.value === e.target.prevValue) {
//           prevElement.value = '';
//           prevElement.focus();
//         }
//       };
//       field.oninput = (e) => {
//         if (e.target.value) {
//           let nextField = e.target.nextElementSibling;
//           if (!nextField || !e.target.checkValidity()) {
//             e.target.form.querySelector('input[type=submit]').click();
//           } else {
//             nextField.focus();
//           }
//         }
//       };
//       field.onfocus = (e) => {
//         if (!e.target.value) {
//           e.preventDefault();
//           form.querySelector('input:invalid').focus();
//         }
//       };
//     });
//     let form = document.querySelector('.irma-web-pairing-form');
//     form.onclick = (e) => {
//       if (e.target.tagName !== 'INPUT') {
//         let firstInvalidField = form.querySelector('input:invalid');
//         if (firstInvalidField) firstInvalidField.focus();
//       }
//     };
//     form.onsubmit = (e) => {
//       e.preventDefault();
//       let code = Array.prototype.map.call(inputFields, f => {
//         f.disabled = true;
//         return f.value;
//       }).join('');
//       e.target.querySelector('.irma-web-loading-animation').style.display = 'block';
//       setTimeout(() => {
//         e.target.reset();
//         inputFields.forEach(f => f.disabled = false);
//         inputFields[0].focus();
//         e.target.querySelector('p').innerHTML = `De ingevoerde koppelcode ${code} komt niet overeen met de code in jouw IRMA-app. Probeer het opnieuw.`;
//         e.target.querySelector('.irma-web-loading-animation').style.display = 'none';
//       }, 500);
//     };
//   </script>
// </form>
//
// Styleguide Components.IRMA pairing form

@import './irma-button',
        '../mixins/reset',
        '../mixins/fonts',
        '../mixins/center',
        '../variables/colours';

.irma-web-pairing-form {
  @include reset;
  @include center;
  @include font;

  flex-direction: column;

  .irma-web-pairing-code {
    @include reset;
    margin: 10px 0 25px;
    display: flex;
    flex-direction: row;
  }

  p {
    text-align: center;
    align-self: center;
  }

  button {
    @extend .irma-web-button;
  }

  input {
    @include reset;
    margin: 8px;
    height: 40px;
    width: 30px;
    text-align: center;
    font-size: 1.5em;
    border: 1px solid #000;
    border-radius: 4px;

    @media screen and (max-width: 310px) {
      margin: 4px;
      height: 32px;
      width: 24px;
      font-size: 1em;
    }
  }
}
